@page "/products/{categorySlug}/{slug}.html"
@model Store.Public.Web.Pages.Products.DetailsModel
@using Store.Public.Products;
@inject IProductsAppService _productsAppService;
@{
    var fileContent = await _productsAppService.GetThumbnailImageAsync(Model.Product.ThumbnailPicture);
    var base64Image = Store.Helpers.ImageHelper.ShowBase64(Model.Product.ThumbnailPicture, fileContent);

}
<div class="section-box">
<div class="breadcrumbs-div">
    <div class="container">
    <ul class="breadcrumb">
        <li><a class="font-xs color-gray-1000" href="/">Trang chủ</a></li>
        <li><a class="font-xs color-gray-500" href="#">@Model.Product.CategoryName</a></li>
        <li><a class="font-xs color-gray-500" href="#">@Model.Product.Name</a></li>
    </ul>
    </div>
</div>
</div>
<section class="section-box shop-template">
<div class="container">
    <div class="row">
    <div class="col-lg-6">
        <div class="gallery-image">
        <div class="galleries">
            <div class="detail-gallery">
            <label class="label">-17%</label>
            <div class="product-image-slider">
                <figure class="border-radius-10"><img src="@base64Image" alt="product image"></figure>
            </div>
            </div>
            <div class="slider-nav-thumbnails">
            <div>
                <div class="item-thumb"><img src="@base64Image" alt="product image"></div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h3 class="color-brand-3 mb-25">@Model.Product.Name</h3>
        <div class="rating mt-5"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500"> (65)</span></div>
        <div class="border-bottom pt-20 mb-40"></div>
        <div class="box-product-price">
        <h3 class="color-brand-3 price-main d-inline-block mr-10">@String.Format("{0:n0} đ", @Model.Product.SellPrice)</h3>
        </div>
        <div class="product-description mt-20 color-gray-900"></div>
        <div class="buy-product mt-20">
        <p class="font-sm mb-20">Số lượng</p>
        <div class="box-quantity">          
            <div class="button-buy"><a class="btn btn-cart" href="/shop-cart.html?action=add&id=@Model.Product.Id">Thêm vào giỏ</a></div>
        </div>
        </div>
        <div class="info-product mt-20 font-md color-gray-900">SKU: @Model.Product.SKU<br>Loại: @Model.Product.CategoryName</div>
    </div>
    </div>
    <div class="border-bottom pt-20 mb-40"></div>
</div>
<section class="section-box shop-template">
<div class="container">
    <div class="pt-30 mb-10">
    <div class="tab-content">
        <div class="tab-pane fade active show" id="tab-description" role="tabpanel" aria-labelledby="tab-description">
        <div class="display-text-short">
           @Html.Raw(Model.Product.Description)
        </div>
        <div class="mt-20 text-center"><a class="btn btn-border font-sm-bold pl-80 pr-80 btn-expand-more">Xem thêm</a></div>
        </div>
        <div class="border-bottom pt-30 mb-50"></div>
        <h4 class="color-brand-3">Có thể bạn cũng thích</h4>
        <div class="list-products-5 mt-20">
            @foreach (var item in Model.GetProductRandomList)
            {
                <partial name="_TopSellerProducts" model="item"/>
            }
        </div>
    </div>
    </div>
</div>
</section>
