@using Store.Public.ProductCategories;
@model List<ProductCategoryInListDto>;
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <img class="mb-10" src="/assets/imgs/template/favicon.svg" alt="Ecom">
                <div class="preloader-dots"></div>
            </div>
        </div>
    </div>
</div>
<div class="topbar">
    <div class="container-topbar">
        <div class="menu-topbar-left d-none d-xl-block">
            <ul class="nav-small">
                <li><a class="font-xs" href="#">Về chúng tôi</a></li>
                <li><a class="font-xs" href="#">Sự nghiệp</a></li>
                <li><a class="font-xs" href="#">Mở cửa hàng</a></li>
            </ul>
        </div>
        <div class="info-topbar text-center d-none d-xl-block"><span class="font-xs color-brand-3">Free ship cho </span><span class="font-sm-bold color-success">mọi đơn hàng</span></div>
        <div class="menu-topbar-right">
            <span class="font-xs color-brand-3">Cần trợ giúp? Liên hệ:</span><span class="font-sm-bold color-success"> +1800 900</span>
        </div>
    </div>
</div>
<header class="header sticky-bar">
    <div class="container">
        <div class="main-header">
            <div class="header-left">
                <div class="header-logo"><a class="d-flex" href="/"><img alt="Ecom" src="/assets/imgs/template/logo.svg"></a></div>
                <div class="header-search">
                    <div class="box-header-search"> 
                       <div class="box-header-search"> 
                        <form class="form-search" method="post">
                            <div class="box-category">
                                <select class="select-active select2-hidden-accessible" name="code">
                                    <option value="">Loại Sản Phẩm</option>
                                        @foreach (var item in Model)
                                        {
                                        <option value="@item.Code">@item.Name</option>
                                        }
                                </select>
                            </div>
                            <div class="box-keysearch">
                                <input class="form-control font-xs" type="text" name="keyword" value="" placeholder="Tìm kiếm sản phẩm">
                                    @if (!ViewData.ModelState.IsValid)
                                    {
                                    <div class="alert alert-danger">
                                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                            {
                                                <p>@error.ErrorMessage</p>
                                            }
                                    </div>
                                    }
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="header-nav">
                    <nav class="nav-main-menu d-none d-xl-block">
                        <ul class="main-menu">
                            <li>
                                <a class="active" href="/">Trang Chủ</a>                
                            </li>
                            <li class="has-children">
                                <a href="/products/@(Model[1].Code).html">Sản Phẩm</a>
                                <ul class="sub-menu two-col">                                   
                                    @foreach (var item in Model)
                                    {
                                      <li><a href="/products/@(item.Code).html">@item.Name</a></li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
                </div>
                <div class="header-shop">
                @if (User.Identity.IsAuthenticated)
                    {
                    <div class="d-inline-block box-dropdown-cart">
                        <span class="font-lg icon-list icon-account"><span>Tài khoản</span></span>
                        <div class="dropdown-account">
                            <ul>                             
                                <li><a href="/logout.html">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                    }
                    else
                    {                  
                    <div class="d-inline-block box-dropdown-cart">
                        <span class="font-lg icon-list icon-account"><span>Đăng nhập/Đăng ký</span></span>
                        <div class="dropdown-account">
                            <ul>
                                <li><a href="/login.html">Đăng nhập</a></li>
                            </ul>
                        </div>
                    </div>
                    }
                    <vc:cart></vc:cart>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="mobile-logo"><a class="d-flex" href="index.html"><img alt="Ecom" src="/assets/imgs/template/logo.svg"></a></div>
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav class="mt-15">
                        <ul class="mobile-menu font-heading">
                            <li>
                                <a class="active" href="index.html">Trang Chủ</a>
                            </li>
                            <li class="has-children">
                                <a href="shop-grid.html">Sản Phẩm</a>
                                <ul class="sub-menu">
                                    @foreach (var item in Model)
                                    {
                                          <li><a href="/products/@(item.Code).html">@item.Name</a></li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                <div class="mobile-account">                  
                    <ul class="mobile-menu">
                        <li><a href="page-account.html">Tài khoản của tôi</a></li>
                        <li><a href="/logout.html">Đăng xuất</a></li>
                    </ul>
                </div>
                }
                else
                {
                    <div class="mobile-account">
                        <div class="mobile-header-top">
                            <div class="user-account">
                                <a href="/login.html">Đăng nhập</a>
                            </div>
                        </div>
                    </div>
                }
                <div class="mobile-banner">
                    <div class="bg-5 block-iphone">
                        <span class="color-brand-3 font-sm-lh32">Chỉ từ 12tr990</span>
                        <h3 class="font-xl mb-10">iPhone 12 Pro 128Gb</h3>
                        <p class="font-base color-brand-3 mb-10">Sale</p><a class="btn btn-arrow" href="#">xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="mobile-logo"><a class="d-flex" href="index.html"><img alt="Ecom" src="/assets/imgs/template/logo.svg"></a></div>
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav class="mt-15">
                        <ul class="mobile-menu font-heading">
                            <li>
                                <a class="active" href="/">Trang chủ</a>                           
                            </li>
                            <li class="has-children">
                                <a href="/products/@(Model[1].Code).html">Sản Phẩm</a>
                                <ul class="sub-menu">
                                    @foreach (var item in Model)
                                    {
                                        <li><a href="/products/@(item.Code).html">@item.Name</a></li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
               
                <div class="mobile-banner">
                    <div class="bg-5 block-iphone">
                        <span class="color-brand-3 font-sm-lh32">Chỉ từ 12tr990</span>
                        <h3 class="font-xl mb-10">iPhone 12 Pro 128Gb</h3>
                        <p class="font-base color-brand-3 mb-10">Sale</p><a class="btn btn-arrow" href="#">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>