@using Store.Public.Products
@using Store.Public.Manufacturers
@model Store.Public.Products.ProductInListDto
@inject IProductsAppService _productsAppService;
@inject IManufacturersAppService _manufacturersAppService;
@{
    var url = $"/products/{Model.CategorySlug}/{Model.Slug}.html";
    var getManufacturer = _manufacturersAppService.GetByIdAsync(Model.ManufacturerId);
    var fileContent = await _productsAppService.GetThumbnailImageAsync(Model.ThumbnailPicture);
    var base64Image = Store.Helpers.ImageHelper.ShowBase64(Model.ThumbnailPicture, fileContent);
}
<div class="card-grid-style-3">
    <div class="card-grid-inner">
    <div class="tools">
        <a class="btn btn-trend btn-tooltip mb-10" href="#" aria-label="Trend" data-bs-placement="left"></a>
        <a class="btn btn-wishlist btn-tooltip mb-10" href="#" aria-label="Yêu thích"></a>
    </div>
    <div class="image-box"><span class="label bg-brand-2">-17%</span>
        <a href="@url">
            <img src="@base64Image" alt="Ecom">
        </a>
    </div>
    <div class="info-right">
        <a class="font-xs color-gray-500" href="/manufacturer/@(getManufacturer.Result.Code).html">@Model.ManufacturerName</a>
        <br><a class="color-brand-3 font-sm-bold ellipsis" href="@url">@Model.Name</a>
        <div class="rating">
            <img src="assets/imgs/template/icons/star.svg" alt="Ecom">
            <img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom">
            <img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom">
            <span class="font-xs color-gray-500">(65)</span>
        </div>
        <div class="price-info">
            <strong class="font-lg-bold color-brand-3 price-main">@String.Format("{0:n0}đ", @Model.SellPrice)</strong>
        </div>
        <div class="mt-20 box-btn-cart">
            <a class="btn btn-cart" href="shop-cart.html">Thêm vào giỏ</a>
        </div>
        <ul class="list-features">
            <li>@Model.Code</li>
            <li>3.1GHz 6-core 10th-generation Intel Core i5</li>
            <li>AMD Radeon Pro 5300 graphics</li>
        </ul>
    </div>
    </div>
</div>